/*Device width from 0px to 480px*/
/*Small Phones*/

@media only screen and (max-width: 480px) {
    body { font-size: 12px; }
	section { padding: 20px 0;}
	.form { width: 100%; }
	.team img { height: 100px; }
	.row { padding: 0 4%; }
    
    .team img {
		height: 60px;
        width: 90%;
		margin: 10px 0;
		border-radius: 15px;
	}
    
    .cover-text img { height: 3em !important;}
    .cover { height: 400px; }
}

/*Device width from 481px to 767px*/
/*Bigger Phones*/

@media only screen and (max-width: 767px) {
	body { font-size: 16px; }
	
	section { padding: 30px 0; }
	
	.row ,
	.hero-text-box { padding: 0 4%; }
	
	h2:after { width: 60px; }
	
	.col { width: 100%; }
	
    .main-nav { display: none; }
 
    .cover-text img { height: 4em; }
	
    .cover { padding: 0 5%; }
    
	h1 { font-size: 180%; }
	h2 { font-size: 150%; }
	p { text-align: center; }
	
	.long-copy {
		width: 100%;
	}
    
	.team img { height: 120px; }
	.form { width: 100%; }
	.span-1-of-2:first-child { margin-bottom: 20px;}
	
	input[type=text],
	input[type=email],	
	select,
	textarea {
		width: 100%;
		padding: 10px;
		margin: 10px 0;
	}
    
	label { margin-left: 5px; }
}

/*Device width from 768px to 1023px*/
/*Tablets*/

@media only screen and (max-width: 1023px) {
	body { font-size: 18px; }
	section { padding: 40px 0; }
	.team img { height: 200px; }
	cite img { height: 80px; }
	
	.long-copy {
		width: 80%;
		margin-left: 10%;
	}
    
    .cover-text img { height: 6em; }
    
    h1 {
		font-size: 120%;
		word-spacing: 2px;
	}

	p { text-align: center; }
	
	.form { width: 100%; }

	label { margin-left: 10px; }
	
	.team p {
		font-size: 80%;
		line-height: 135%;
	}
	
	h2:after { width: 120px; }  
}

/*Device width from 1024px to 1200px*/
/*Bigger Tablets and Laptops*/

@media only screen and (max-width: 1200px) {
	.hero-text-box {
		width: 100%;
		padding: 0 2%;
	}
	
	.row { padding: 0 2%; }
}