/*--------------------------*/
/*       BASIC SETUP        */
/*--------------------------*/
	
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	html, 
	body{
		background-color: #fff;
		color: #555;
		font-family: 'Lato', 'Arial', sans-serif;
		font-weight: 300;
		font-size: 20px;
		text-rendering: optimizeLegibility;
		overflow-x: hidden;
	}

/*--------------------------*/
/*    REUSABLE COMPONENTS   */
/*--------------------------*/

	.row {
		max-width: 1140px;
		margin: 0 auto;
	}
	
	h1,
	h2,
	h3 {
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	
	section {
		padding: 40px 0;
	}
	
	h1 {
		margin-top: 0;
		margin-bottom: 20px;
		color: #fff;
		font-size: 240%;
		word-spacing: 4px;
	}
	
	h2 {
		font-size: 180%;
		word-spacing: 2px;
		text-align: center;
		margin-bottom: 30px;
	}
	
	h2:after {
		display: block;
		height: 2px;
		background-color: #2d866b;
		content: " ";
		width: 200px;
		margin: 0 auto;
		margin-top: 30px;
	}
	
	h3 {
		font-size: 120%;
		margin-bottom: 15px;
		text-align: center;
	}
	
	.icon-big {
		text-align: center;
		font-size: 300%;
		display: block;
		color: #558B5A;
		margin-bottom: 15px;
	}
	
/*--------------------------*/
/*          HEADER          */
/*--------------------------*/

.logo {
    height: 40px;
    width: auto;
    margin: 5px 10px;
}

.cover-text img {
    height: 8em;
    width: auto;
}

.cover {
    height: 100vh;
    background-image: -webkit-linear-gradient(rgba(0, 13, 39, 0.9), rgba(0, 13, 39, 0.90)), url(../images/hero.jpg);
    background-image: linear-gradient(rgba(0, 13, 39, 0.9),rgba(0, 13, 39, 0.90)), url(../images/hero.jpg);
		background-size: cover;
    background-position: center;
    display: table;
    width: 100%;
    padding: 0 20%;
    box-shadow: inset 0 0 200px #000;
}

.cover-text {
    color:aliceblue;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

nav.navbar-inverse {
		padding: 10px 10px;
		box-shadow: 0 4px 4px 2px rgba(0, 13, 39, 0.90);
    opacity: 0.94;
    filter: alpha(opacity=94);
}

.lead {
    margin-top: 15px;
    font-size: 120%;
}

/*--------------------------*/
/*         BUTTONS          */
/*--------------------------*/

	.btn:link,
	.btn:visited,
	input[type=submit] {
		display: inline-block;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: #fff;
        margin-top: 10px;
		padding: 15px;
		font-size: 90%;
		text-decoration: none;
		background-color: #558B5A;
		border-radius: 200px;
		-webkit-transition: background-color 0.7s, margin-top 0.7s, padding-right 0.7s, padding-left 0.9s;
		transition: background-color 0.7s, margin-top 0.7s, padding-right 0.7s, padding-left 0.9s;
	}

	.btn:hover,
	.btn:active,
	input[type=submit]:hover,
	input[type=submit]:active	{
		background-color: #2d866b;
	}

/*--------------------------*/
/*          ABOUT           */
/*--------------------------*/	

	.about h2 {
		color: #555;
        z-index: 1;
	}
	
	.long-copy {
		line-height: 150%;
		width: 70%;
		margin-left: 15%;
		text-align: center;
        word-spacing: 3px;
        margin-bottom: 1rem;
	}

/*--------------------------*/
/*        SERVICES          */
/*--------------------------*/	

	.services {
		background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/badge_image.jpg);
		background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(../images/badge_image.jpg);
		background-position: center;
		background-size: cover;
        background-attachment: fixed;
        color: #fff;
	}
	
	.box {
		padding: 1%;
	}
	
	.box p {
		font-size: 90%;
		line-height: 145%;
		color: #fff;
	}

    .services h3 {
		font-size: 110%;
		margin-bottom: 15px;
		text-align: center;
	}

    .modal_dot {
        font-size: 120%;
    }
	
/*--------------------------*/
/*      TESTIMONIALS        */
/*--------------------------*/	

	blockquote {
		padding: 2%;
		font-style: italic;
		line-height: 145%;
		position: relative;
		margin-top: 40px;
	}
	
	cite {
		font-size: 90%;
		margin-top: 25px;
		display: block;
	}
	
	blockquote:before {
		content: "\201C";
		font-size: 500%;
		color: #558B5A;
		display: block;
		position: absolute;
		top: -5px;
		left: -5px;
	}
	
	cite img {
		height: 100px;
		border-radius: 50px;
		margin-right: 10px;
		vertical-align: middle;
        z-index: 0;
	}
	
/*--------------------------*/
/*           TEAM           */
/*--------------------------*/	

	.team {
		color: #555;
		text-align: center;
		background-color: #d1ebda;
	}
	
	.team img {
		height: 250px;
		margin: 20px 0;
		border-radius: 15px;
	}
	
	.team p {
		font-size: 90%;
		line-height: 145%;
	}
	
/*--------------------------*/
/*           FORM           */
/*--------------------------*/		
	
	.form {
		width: 60%;
		margin: 0 auto;
	}
	
	input[type=text],
	input[type=email],	
	select,
	textarea {
		width: 100%;
		padding: 7px;
		border-radius: 5px;
		border: 1px solid #ccc;
	}
	
	textarea {
		height: 100px;
	}
	
	*:focus {outline: none;}
    
    .form-mesages {
        width: 70%;
        margin: 0 auto;
        padding: 10px;
        border-radius: 3px;
    }

    .form-messages p {
        color: aliceblue;
        text-align: center;
        padding: 6px;
        margin-top: 10px;
    }

    .success {
        background-color: #558B5A;
        border-radius: 10px;
    }

    .error {
        background-color: rgba(209, 46, 46, 0.8);
        border-radius: 10px;
    }

/*--------------------------*/
/*          FOOTER          */
/*--------------------------*/	

	footer {
		background-color: #212145;
		padding: 30px 0;
		font-size: 80%;
	}
	
	footer p {
		display: block;
		padding-top: 60px;
		text-align: center;
		color: #888;
	}
	
	.social {
		text-align: center;
		list-style: none;
		margin-top: 30px;
	}
	
	.social li {
		display: inline-block;
		margin-right: 20px;
		font-size: 75%
	}
	
	.social li:last-child { margin: 0;}	

	.social li a:link,
	.social li a:visited {
		text-decoration: none;
		border: 0;
		color: #888;
		-webkit-transition: color 0.7s;
		transition: color 0.7s;
	}
	
	.social li a:link,
	.social li a:visited  {
		font-size: 190%;
	}
	
	.ion-social-facebook-outline,
	.ion-social-twitter-outline,
	.ion-social-linkedin-outline {
		-webkit-transition: color 0.5s;
		transition: color 0.5s;
	}
	
	.ion-social-facebook-outline:hover {
		color: #3b5998;
	}
	
	.ion-social-twitter-outline:hover {
		color: #00aced;
	}
	
	.ion-social-linkedin-outline:hover {
		color: #007bb5;
	}

/*--------------------------*/
/*        ANIMATIONS        */
/*--------------------------*/	

    .js--wp-1,
    .js--wp-2,
    .js--wp-3 { opacity: 0; filter: alpha(opacity=0); }

    .js--wp-1.animated,
    .js--wp-2.animated,
    .js--wp-3.animated { opacity: 1; filter: alpha(opacity=100); }

/*--------------------------*/
/*           Modal          */
/*--------------------------*/

.modal_btn {
    text-align: center;
    width: 30%;
    margin-left: 35%;
    border-radius: 200px;
    background-color: #2d866b;
}

.modal-body p {
    color: black;
}

.col p {
    margin-bottom: 1rem;
}

/*Device width from 0px to 480px*/
/*Small Phones*/

@media only screen and (max-width: 480px) {
  body { font-size: 12px; }
	section { padding: 20px 0;}
	.form { width: 100%; }
	.team img { height: 100px; }
	.row { padding: 0 4%; }
    
  .team img {
		height: 60px;
    width: 90%;
		margin: 10px 0;
		border-radius: 15px;
	}
    
	.cover-text img { height: 3em !important;}
	.cover { height: 400px; }
}

/*Device width from 481px to 767px*/
/*Bigger Phones*/

@media only screen and (max-width: 767px) {
	body { font-size: 16px; }
	section { padding: 30px 0; }
	.row,.hero-text-box { padding: 0 4%; }
	h2:after { width: 60px; }
	.col { width: 100%; }
  .main-nav { display: none; }
  .cover-text img { height: 4em; }
  .cover { padding: 0 5%; } 
	h1 { font-size: 180%; }
	h2 { font-size: 150%; }
	p { text-align: center; }
	.long-copy {width: 100%;}
	.team img { height: 120px; }
	.form { width: 100%; }
	.span-1-of-2:first-child { margin-bottom: 20px;}
	input[type=text],
	input[type=email],	
	select,
	textarea {
		width: 100%;
		padding: 10px;
		margin: 10px 0;
	}
	label { margin-left: 5px; }
}

/*Device width from 768px to 1023px*/
/*Tablets*/

@media only screen and (max-width: 1023px) {
	body { font-size: 18px; }
	section { padding: 40px 0; }
	.team img { height: 200px; }
	cite img { height: 80px; }
	.long-copy {
		width: 80%;
		margin-left: 10%;
	}
  .cover-text img { height: 6em; }
	h1 {
		font-size: 120%;
		word-spacing: 2px;
	}
	p { text-align: center; }
	.form { width: 100%; }
	label { margin-left: 10px; }
	.team p {
		font-size: 80%;
		line-height: 135%;
	}
	h2:after { width: 120px; }  
}

/*Device width from 1024px to 1200px*/
/*Bigger Tablets and Laptops*/

@media only screen and (max-width: 1200px) {
	.hero-text-box {
		width: 100%;
		padding: 0 2%;
	}
	
	.row { padding: 0 2%; }
}

